body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	/*background: black;*/
	background-color: powderblue;
	overflow: hidden;
}

.image-container{
	position: relative;
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	transform: perspective(1000px) rotateY(0deg);
	transition: transform 0.7s;
}

.image-container span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.image-container span img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.btn-container {
	position: relative;
	width: 80%;
}

.btn {
	background-color: #FD6A02; /* TIGER */		
	position: absolute;
	bottom: -80px;
	background: crimson;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	width: 200px;
}

.button {
  background-color: #FD6A02; /* TIGER */
                  /*#7AE582; /*Lightgreen*/ 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/
  cursor: pointer;
  width: 200px;  
}

p {
  color: blue;
  font-family: courier;
  font-size: 160%;
  font-weight: bold;  
  
/*  border: 2px solid powderblue;
  padding: 30px;*/
}

#prev{
	left: 20%;
}

#next{
	right: 20%;
}
.btn:hover{
	filter: brightness(1.5);
}
