body {  background-color: powderblue;}
p {
  color: blue;
  font-family: courier;
  font-size: 160%;
  font-weight: bold;  
  
  
/*  border: 2px solid powderblue;
  padding: 30px;*/
}
table, th, td {
    border: 1px solid black;
  }
  
/* #FAAA16; Dark Tangerine
   #FF8F29; Deep Saffron
   #48BF91; Ocean Green
   #7AE582; Lightgreen
   #FD6A02; TIGER
   #f9A602; Gold
   #EF2831; Diamond Dash
   #E5B80B; Pure Gold (not good) 
   #ffd200; Shining Gold (OK)
   #D4AF37; Metalic Gold
*/

.button {
  background-color: #FD6A02; TIGER
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/
  cursor: pointer;
  width: 200px;
}

.button2 {background-color: #E5B80B;} /* Pure Gold */
  
h1, .h1 {
    font-weight: 900;
    font-size: 2.64rem;
    line-height: 2rem;/*ine-height: 4.23rem*/
}
h2, .h2 {
    font-weight: 900;
    font-size: 2.07rem;
    line-height: 1rem;/*line-height: 3.43rem;*//
}
h3, .h3 {
    font-weight: 900;
    font-size: 1.64rem;
    line-height: 2.86rem;/*    line-height: 2.86rem;*/
}
h4, .h4 {
    font-weight: 900;
    font-size: 1.29rem;
    line-height: 1.93rem;/* line-height: 1.93rem;*/
}
h5, .h5 {
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.5rem;*    line-height: 1.5rem;*/
}
h1.inline, .h1.inline,
h2.inline, .h2.inline,
h3.inline, .h3.inline,
h4.inline, .h4.inline,
h5.inline, .h5.inline {
    font-weight: normal;
    line-height: 1.5rem;
    text-decoration: none;
}
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small {
    font-weight: 900;
    color: var(--text-light);
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    color: var(--text-light);
}
h1.small-hdr,
h2.small-hdr,
h3.small-hdr,
h4.small-hdr,
h5.small-hdr {
    margin-top: 1rem;
    margin-bottom: 0;
}
h2.sub-hdr,
h3.sub-hdr,
h4.sub-hdr,
h5.sub-hdr {
    margin-top: 0;
}
h1.hdr-notop-mrgn,
h2.hdr-notop-mrgn,
h3.hdr-notop-mrgn,
h4.hdr-notop-mrgn,
h5.hdr-notop-mrgn {
    margin-top: 0;
}
label.h1,
label.h2,
label.h3,
label.h4,
label.h5 {
    margin-top: 0;
}
#toolTitle {
    margin-top: 3.23rem;
}